@import "mixins";
@import "variables";

/* item page */

.item-main {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
}
.item-image {
  flex: 0 0 140px;
  width: 140px;
  height: 180px;
  background: $black;
  img {
    display: none;
  }
}
.item-details {
  flex-grow: 1;
  padding: 0 1rem;

  h1 {
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.3;
  }

  .description {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
.item-holdings {
  flex: 0 0 274px;

  .button {
    font-size: 1.6rem;
    padding: 0.3rem 0.9rem;
  }

  .bib-items {
    font-size: 0.8rem;
    padding: 0;
    border: 0;
  }
}
.item-secondary {
  border-top: 4px solid $black;
  padding-top: 1rem;
  margin-top: 1rem;
  @include clearfix();

  h2,
  h3 {
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.3;
  }
  h3 {
    font-size: 1.1rem;
  }
  ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    font-size: 0.8rem;

    li {
      margin: 0 0 0.35rem;
    }
  }
  dd ul {
    margin: 0;
  }
  .result-item {
    border: 0;
    padding: 0.35rem 0;
  }
  .result-list {
    margin: 0.5rem 0;
  }
}
.item-data {
  width: 66%;
  float: left;
  @include box-sizing();
  padding-right: 1rem;
}
.item-related {
  width: 34%;
  float: left;
}
.hiearchy {
  a {
    display: block;

    &:before {
      display: inline-block;
      color: $black;
      content: " ";
      height: 0.5rem;
      width: 0.5rem;
      border-left: 4px solid $black;
      border-bottom: 4px solid $black;
      margin-right: 0.2rem;
    }

    &:first-child:before {
      display: none;
    }

    &:nth-child(2) {
      margin-left: 1.5rem;
    }
    &:nth-child(3) {
      margin-left: 3rem;
    }
    &:nth-child(4) {
      margin-left: 4.5rem;
    }
  }
}
.contents {
  li {
    padding-left: 1rem;
    text-indent: -1rem;
  }
}
