@import "mixins";
@import "variables";

.place-hold-form {
  margin: 1rem 0 2rem;
}

.select-location-fieldset {
  border: 4px solid $black;
  padding: 0 1rem;
  margin-bottom: 1rem;

  h3 {
    margin: 0;
    font-size: 1.1rem;
  }

  label.group {
    margin: 0 -1rem;
    padding: 0.35rem 1rem;
  }
}

.login-fieldset {
  margin-bottom: 1rem;

  label,
  input[type="text"] {
    display: block;
    margin-top: 0.5rem;
  }
}
