@import "mixins";
@import "variables";

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin-bottom: 0.75rem;
  margin-top: 0;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1rem;
}

.status {
  font-weight: bold;
  color: $darkorange;

  &.available {
    color: $darkgreen;
  }
}

.saved-items {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;

  &.active {
    display: block;
  }
}
