@import "mixins";
@import "variables";

$headerHeight: 60px;
$headerComponentHeight: 40px;
$headerComponentMargin: ($headerHeight - $headerComponentHeight)/2;
$searchMaxWidth: 615px;

a.site-title {
  display: block;
  color: $textcolor;
  text-decoration: none;
  background: url("../img/nypl-logo.svg") no-repeat $white;
  height: $headerComponentHeight;
  padding: 0 0 0 ($headerComponentHeight + 10px);
  margin-top: $headerComponentMargin;

  &:hover {
    color: lighten($textcolor, 20%);
  }

  .site-title-org,
  .site-title-name {
    display: block;
    line-height: normal;
  }

  .site-title-org {
    font-size: 0.8rem;
  }
  .site-title-name {
    font-size: 1.3rem;
  }
}

.site-header {
  line-height: $headerHeight;

  .site-title {
    float: left;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
    @include clearfix();
  }
}

.top-nav-container {
  background: $darkergray;
  color: $white;
  line-height: normal;
  margin-bottom: 0.5rem;

  a {
    color: $white;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    display: block;

    &:hover {
      color: $black;
      background: $white;
    }
  }

  .container {
    padding: 0;
  }

  .top-nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    li.nypl-item {
      margin-right: auto;
    }
  }
}

.main-nav {
  margin-left: 270px;
  @include clearfix();

  > ul > li {
    float: left;
    margin-left: 1rem;
    position: relative;

    &.search {
      width: 454px;
      overflow: visible;
      z-index: 1;
      position: relative;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .nav-link {
    text-decoration: none;
    white-space: nowrap;
    position: relative;

    &.has-children:after {
      content: "▾";
      display: inline-block;
      margin: 0 0 0 0.3rem;
    }

    // &.has-children:focus + ul {
    //   display: block;
    // }
  }

  ul ul {
    display: none;
    position: absolute;
    top: $headerComponentHeight + 10px;
    left: 0;
    width: auto;
    background: $white;
    border: 1px solid $lightgray;
    border-top: 0;
    line-height: normal;

    .nav-link {
      padding: 0.35em;
      display: block;
    }
  }

  ul li.active ul {
    display: block;
  }
}

.search-form {
  white-space: nowrap;

  .search-input,
  .search-button {
    height: $headerComponentHeight;
    line-height: $headerComponentHeight;
    display: inline-block;
    padding: 0 0.35rem;
    vertical-align: middle;
    @include box-sizing();
  }
  .search-input {
    padding-right: 0;
    border: 1px solid $lightgray;
    border-right: 0;
    margin-right: -5px;
    width: 390px;
    @include transition(width 0.5s);
    &:focus {
      width: $searchMaxWidth;
    }
  }
}
.search.active .search-input {
  width: $searchMaxWidth;
}

.auto-search {
  display: none;
  position: absolute;
  top: $headerComponentHeight + 10px;
  left: 0;
  width: $searchMaxWidth;
  background: $white;
  border: 1px solid $lightgray;
  border-top: 0;
  @include box-sizing();

  .tab {
    border-right: 0;
  }

  .tab:first-child {
    border-left: 0;
  }
}
.search.active .auto-search {
  display: block;
  @include animation(fadeIn 1s);
}
