@import "mixins";
@import "variables";

.page-header {
  background: $lightergray;

  h1, h2, h3 {
    margin: 0;
  }
}

.breadcrumbs {

  a {
    color: $textcolor;
    &:hover {
      color: $linkcolor;
    }
  }

  .breadcrumb {
    display: inline-block;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:before {
      content: "»";
      display: inline-block;
      margin: 0 0.5rem;
      color: $darkgray;
    }
    &:first-child:before {
      content: none;
    }
  }
}
