// Grays
$white: #fff;
$gray: #7B756F;
$lightergray: lighten($gray, 45%);
$lightgray: lighten($gray, 40%);
$darkgray: darken($gray, 10%);
$darkergray: darken($gray, 15%);
$black: #000;

// Colors
$yellow: #FEE24A;
$orange: #ffb81d;
$red: #ed1c24;
$darkgreen: #437529;
$lightgreen: lighten($darkgreen, 20%);
$blue: #1DA1D4;
$bluedark: #1980a9;

// Components
$textcolor: $black;
$linkcolor: darken($blue, 10%);
$linkhovercolor: lighten($linkcolor, 10%);
$linkvisitedcolor: darken($linkcolor, 12%);

$containerWidth: 960px;
