@import "mixins";
@import "variables";
@import "normalize";

@import "base";

body {
  background: lighten($lightergray, 5%);
}

.main {
  @include clearfix();
}

.intro,
.toc {
  padding: 1rem;
  float: left;
  width: 60%;
  @include box-sizing();
}

.toc {
  width: 40%;
  background: $white;
  border: 1px solid $lightgray;
  min-height: 80vh;

  ol, ul {
    margin: 0 0 1rem 1rem;
    padding: 0;
  }

  ol {
    list-style-type: upper-roman;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  li {
    margin: 0 0 1rem;
  }

  ol ol ul {
    margin-top: 0.35rem;
  }

  ol ol ul li {
    margin: 0;
  }

  h3 {
    margin: 0 0 0.5rem;
  }
}

.sublist {
  display: none;
  &.active {
    display: block;
  }
}
.toggle-sublist {
  &:before {
    content: '[+]';
  }
  &.active:before {
    content: '[-]';
  }
}
