@import "mixins";
@import "variables";
@import "normalize";

@import "base";

body {
  background: lighten($lightergray, 5%);
}

.main {
  @include clearfix();
}

.intro,
.toc {
  padding: 1rem;
  float: left;
  width: 60%;
  @include box-sizing();
}

.toc {
  width: 40%;
  background: $white;
  border: 1px solid $lightgray;
  min-height: 80vh;

  ol {
    list-style-type: upper-roman;
  }

  ol ol {
    list-style-type: lower-alpha;
  }
}
