@import "mixins";
@import "variables";
@import "normalize";
@import "animations";

@import "base";
@import "tabs";
@import "header";
@import "pageheader";

$facetsWidth: 190px;

.search-results-container {
  @include clearfix();
}
.facets {
  width: $facetsWidth;
  float: left;
  margin-top: 36px;
}
.results {
  margin-left: ($facetsWidth + 20px);
  margin-top: 20px;
}

.facets-form {
  h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: $gray;
    font-weight: normal;
    margin: 0;
  }
  fieldset {
    margin: 0;
    padding: 0.35rem 0;
    border: 0;
  }
  label {
    font-weight: bold;
    display: block;
  }
  input,
  select {
    width: 100%;
    display: block;
    @include box-sizing();
  }
  select {
    height: 2rem;

    &.selected {
      background-color: $darkgray;
      color: $white;
    }
  }
  .button-selected {
    width: 100%;
    background: $darkgray;
    color: $white;
    display: block;
    border-color: $darkgray;
    text-align: left;
    padding-right: 2rem;
    position: relative;
    font-size: 0.9rem;
    @include box-sizing();

    &:hover {
      background: lighten($darkgray, 10%);
      border-color: lighten($darkgray, 10%);
    }

    &:after {
      display: block;
      content: "+";
      position: absolute;
      top: 0px;
      right: 6px;
      font-weight: bold;
      font-size: 1rem;

      @include transform(rotate(45deg));
    }
  }
}

.results-tabs {
  border-bottom: 1px solid $lightgray;
  padding-left: 20px;

  .tab {
    background: $white;
    color: $linkcolor;
    border-color: transparent;

    small {
      color: $gray;
      padding-left: 0.2rem;
    }

    &:hover {
      background: $white;
      color: $linkhovercolor;
    }

    &[aria-selected="true"] {
      color: $darkgray;
      border-color: $lightgray;
      border-bottom: 1px solid $white;
      margin-bottom: -1px;
      @include box-shadow(0 -1px 1px rgba($black, 0.1));
    }
  }

}

.results-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;

  .pagination-total {
    font-weight: bold;
    padding-right: 0.5rem;
  }

  .paginate {
    display: inline-block;
    padding: 0 0.35rem;
    text-decoration: none;

    &.prev:before {
      content: '‹';
      display: inline-block;
      margin-right: 0.2rem;
      font-size: 1.2rem;
      line-height: 1rem;
    }

    &.next:after {
      content: '›';
      display: inline-block;
      margin-left: 0.2rem;
      font-size: 1.2rem;
      line-height: 1rem;
    }
  }

  .sort {
    margin-left: auto;

    form {
      white-space: nowrap;
      // padding-right: 0.9rem;
    }

    label,
    select {
      display: inline-block;
    }

    label {
      margin-right: 0.35rem;
    }


  }
}

.results-list {
  margin-bottom: 4rem;
}
.result-item {
  padding: 0.5rem 0;
  border-top: 1px solid darken($lightgray, 10%);
  display: flex;
  flex-direction: row;

  &:first-child {
    border-top: 0;
  }

  .result-image {
    flex: 0 0 60px;
    max-height: 100px;
    overflow: hidden;

    img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .result-text {
    text-decoration: none;
    flex-grow: 1;
    padding-left: 1rem;
    position: relative;

    .type,
    .title,
    .description {
      display: block;
    }

    .type,
    .description,
    .bib-item {
      color: $gray;
      font-size: 0.85rem;
    }

    .type {
      text-transform: uppercase;
    }

    .title {
      font-size: 1.1rem;
      line-height: 1.2;
    }

    .description {
      color: $textcolor;
    }

    .label {
      color: $gray;
    }

    .bib-items {
      padding: 0.35rem 0 0.35rem 0.35rem;
    }

    .bib-item {

      &.more {
        display: none;
      }

      span {
        font-weight: bold;
        color: $textcolor;

        &.status {
          color: $darkorange;
        }

        &.available {
          color: $darkgreen;
        }
      }

      .view-online {
        background: $linkcolor;
        color: $white;
        text-decoration: none;
        padding: 0.1rem 0.35rem;

        &:hover {
          background: $linkhovercolor;
          color: $white;
        }
      }
    }

    .divider {
      display: inline-block;
      margin: 0 0.35rem;
      font-size: 2rem;
      line-height: 0.8rem;
      vertical-align: middle;
      color: $gray;

      &:before {
        content: "·";
      }
    }

    .select-label {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8rem;
      display: block;

      input,
      span {
        display: inline-block;
        vertical-align: middle;
      }
      span {
        padding-left: 0.35rem;
        color: $gray;
      }
    }
  }

  .result-select {
    flex: 0 0 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    .select-label {

    }
  }
}
