@import "mixins";
@import "variables";
@import "normalize";
@import "animations";

@import "base";
@import "common";
@import "searchbox";
@import "header";
@import "pageheader";

$facetsWidth: 200px;

.search-results-container {
  @include clearfix();
}
.facets {
  width: $facetsWidth;
  float: left;
  margin-top: 1rem;
}
.results {
  margin-left: ($facetsWidth + 20px);
  margin-top: 1rem;
}

.facets-form {
  h2 {
    // text-transform: uppercase;
    font-size: 1rem;
    color: $gray;
    font-weight: normal;
    margin: 0;
  }
  fieldset {
    margin: 0;
    padding: 0.35rem 0;
    border: 0;
  }
  label {
    font-weight: bold;
    display: block;
    font-size: 0.9rem;
  }
  input,
  select {
    width: 100%;
    display: block;
    @include box-sizing();
  }
  select {
    height: 2rem;

    &.selected {
      background-color: $darkgray;
      color: $white;
    }
  }
  .button-selected {
    width: 100%;
    background: $darkgray;
    color: $white;
    display: block;
    border-color: $darkgray;
    text-align: left;
    padding-right: 2rem;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    @include box-sizing();

    &:hover {
      background: lighten($darkgray, 10%);
      border-color: lighten($darkgray, 10%);
    }

    &:after {
      display: block;
      content: "+";
      position: absolute;
      top: 0px;
      right: 6px;
      font-weight: bold;
      font-size: 1rem;

      @include transform(rotate(45deg));
    }
  }
}

.date-range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .divider {
    padding: 0 0.35rem;
  }

  input {
    height: 2rem;
    background: $lightgray;
    border: 0;
    text-indent: 0.2rem;
  }
}

.timeline {
  margin-top: 1rem;
  border-top: 1px solid $lightgray;

  .years {
    position: relative;
    cursor: text;
    @include clearfix();
  }

  .year {
    height: 60px;
    width: percentage(1/28);
    float: left;
    position: relative;

    .bar {
      display: block;
      width: 80%;
      left: 50%;
      margin-left: -40%;
      // width: 100%;
      background: $darkgray;
      position: absolute;
      bottom: 0;
      min-height: 1px;

      &:hover {
        background: $gray;
      }

      &:before {
        content: ' ';
      }
    }
  }

  .handle {
    position: absolute;
    height: 100%;
    width: 0%;
    background: rgba($white, 0.8);
    cursor: ew-resize;
    top: 0;

    &.right {
      right: 0;
      border-left: 4px solid $linkcolor;
    }

    &.left {
      left: 0;
      border-right: 4px solid $linkcolor;
    }

    &:hover {
      border-color: $linkhovercolor;
    }
  }

  .labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .apply-changes {
    display: none;

    &.active {
      display: inline-block;
    }
  }
}

.results-tabs {
  border-bottom: 1px solid $lightgray;
  padding-left: 20px;

  .tab {
    background: $white;
    color: $linkcolor;
    border-color: transparent;

    small {
      color: $gray;
      padding-left: 0.2rem;
    }

    &:hover {
      background: $white;
      color: $linkhovercolor;
    }

    &[aria-selected="true"] {
      color: $darkgray;
      border-color: $lightgray;
      border-bottom: 1px solid $white;
      margin-bottom: -1px;
      @include box-shadow(0 -1px 1px rgba($black, 0.1));
    }
  }

}

.results-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;

  .pagination {
    *:first-child {
      padding-left: 0;
    }
  }

  .pagination-total,
  .paginate {
    display: inline-block;
    padding: 0 0.35rem;
  }

  .pagination-total {
    font-weight: bold;
  }

  .paginate {
    text-decoration: none;

    &.prev:before {
      content: '‹';
      display: inline-block;
      margin-right: 0.2rem;
      font-size: 1.2rem;
      line-height: 1rem;
    }

    &.next:after {
      content: '›';
      display: inline-block;
      margin-left: 0.2rem;
      font-size: 1.2rem;
      line-height: 1rem;
    }
  }

  .sort {
    flex-grow: 1;

    form {
      white-space: nowrap;
      // padding-right: 0.9rem;
      text-align: right;
    }

    label,
    select {
      display: inline-block;
    }

    label {
      margin-right: 0.35rem;
    }

  }
}

@import "searchresults";

.alpha {
  .result-item {
    display: block;
    padding: 0.5rem 0 3rem;
    border-color: $lightergray;
    // border: 0;

    a {
      color: $textcolor;
      &:hover {
        color: $linkcolor;
      }
      &.button {
        color: $white;
      }
    }

    .sub-items {
      display: table;
      width: 100%;
      max-width: 800px;
      // border: 1px solid $lightgray;
      padding: 0;
      margin-top: 0.35rem;
      background: lighten($lightergray, 4%);
    }
    .sub-item {
      display: table-row;
      span.call-no {
        font-weight: normal;
        font-style: italic;
        color: $gray;
      }

      .button {
        padding: 0.2rem 0.65rem;
        min-width: 110px;
        display: inline-block;
        text-align: center;
      }

      > div {
        display: table-cell;
        vertical-align: middle;
        padding: 0.5rem 0.5rem;
        border-top: 1px solid $lightgray;
        &:last-child {
          text-align: right;
        }
      }
    }
    .sub-item:first-child > div {
      border-top: 0;
    }
  }
}
