@import "mixins";
@import "variables";
@import "normalize";

@import "base";

html {
  font-size: 20px;
  font-weight: bold;
}

body {
  padding: 0 0.5rem 4rem;
}

a {
  &, &:link, &:visited, &:hover, &:visited:hover {
    color: $linkcolor;
  }
}

input, select {
  border: 4px solid $black;
  padding: 0.3rem 0.4rem;
}

select {
  background-color: $white;
  color: $black;
  width: 220px;
  padding: 0.05rem 0.35rem;
  padding-right: 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

button,
a.button {
  color: $white;
  background: $linkcolor;
  border: 4px solid $black;
  padding: 0.05rem 0.4rem;

  &:hover {
    background: $linkcolor;
    border-color: $black;
    text-decoration: underline;
  }
}

p {
  margin: 1rem 0;
}

dl {
  @include clearfix();
  font-size: 0.8rem;
  // padding: 0.2rem 0.4rem;
  // border: 4px solid $black;
}

dt,
dd {
  padding: 0.2rem 0;
  float: left;
  margin: 0;
  @include box-sizing();
}

dt {
  width: 25%;
  clear: left;
}

dd {
  width: 75%;
}

nav {
  li {
    display: inline-block;
    padding: 0.2rem 0.5rem 0.2rem 0;

    &.user {
      display: none;
    }
  }
}

.clearfix {
  @include clearfix();
}

.container {
  max-width: 960px;
  position: relative;
  border: 4px solid $black;
  margin-top: 1rem;
  @include clearfix();
}
.container-label {
  color: $white;
  background: $black;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 0.5rem;
}

/* search form */

.search-form {
  select, input, button {
    margin-bottom: 0.2rem;
  }
}
#search-keyword {
  width: 20rem;
  max-width: 96%;
}


/* search results */

.facets {
  width: 20%;
  float: left;
  @include box-sizing();
  h2 {
    font-size: 1rem;
    margin: 0;
  }
  input, select {
    width: 100%;
    @include box-sizing();
  }
}

.search-results {
  margin-left: 22%;
  border-left: 4px solid $black;
  min-height: 800px;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  padding: 0.5rem;
  @include box-sizing();

  *:first-child {
    margin-top: 0;
  }
}

.results-nav {
  //  @include clearfix();
  .pagination {
    float: left;
  }
  .sort {
    float: right;
  }
}

.results-list {
  @include clearfix();
  margin-top: 2rem;
}

.result-item {
  border-top: 4px dashed $black;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
}

.result-image {
  flex: 0 0 60px;
  width: 60px;
  height: 80px;
  background: $black;
  img {
    display: none;
  }
}

.result-text {
  flex-grow: 1;
  padding: 0 0.5rem;
  font-size: 0.8rem;

  .title {
    font-size: 1rem;
  }
}

.result-actions {
  flex: 0 0 130px;
}

.bib-items {
  border: 4px solid $black;
  padding: 0 0.5rem;
  margin-top: 0.5rem;

  .bib-item {
    border-top: 4px dashed $black;
    padding: 0.5rem 0;

    a {
      white-space: nowrap;
    }

    &:first-child {
      border: 0;
    }
    &.more {
      display: none;
    }
  }
}

/* item page */

.item-main {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
}
.item-image {
  flex: 0 0 140px;
  width: 140px;
  height: 180px;
  background: $black;
  img {
    display: none;
  }
}
.item-details {
  flex-grow: 1;
  padding: 0 1rem;

  h1 {
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.3;
  }

  .description {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
.item-holdings {
  flex: 0 0 274px;

  .button {
    font-size: 1.6rem;
    padding: 0.3rem 0.9rem;
  }

  .bib-items {
    font-size: 0.8rem;
    padding: 0;
    border: 0;
  }
}
.item-secondary {
  border-top: 4px solid $black;
  padding-top: 1rem;
  margin-top: 1rem;
  @include clearfix();

  h2,
  h3 {
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.3;
  }
  h3 {
    font-size: 1.1rem;
  }
  ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    font-size: 0.8rem;

    li {
      margin: 0 0 0.35rem;
    }
  }
  dd ul {
    margin: 0;
  }
}
.item-data {
  width: 66%;
  float: left;
  @include box-sizing();
  padding-right: 1rem;
}
.item-related {
  width: 34%;
  float: left;
}
.hiearchy {
  a {
    display: block;

    &:before {
      display: inline-block;
      color: $black;
      content: " ";
      height: 0.5rem;
      width: 0.5rem;
      border-left: 4px solid $black;
      border-bottom: 4px solid $black;
      margin-right: 0.2rem;
    }

    &:first-child:before {
      display: none;
    }

    &:nth-child(2) {
      margin-left: 1.5rem;
    }
    &:nth-child(3) {
      margin-left: 3rem;
    }
    &:nth-child(4) {
      margin-left: 4.5rem;
    }
  }
}
.contents {
  li {
    padding-left: 1rem;
    text-indent: -1rem;
  }
}
